<html>
<head><title>中兴联IT固定资产管理平台</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{#    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>#}
{#    <link rel="shortcut icon" href="/templates/img/favicon.ico" />#}
{#    <link rel="stylesheet" href="{% static 'css/blog.css' %}">#}
</head>
<body>
<div class="page-header"><h3><a href="/">中兴联IT固定资产管理平台</a><small>building</small></h3></div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <h2>base模版</h2>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>